.container {
  width: 400px;
  margin: 40px auto;
  text-align: center;
  font-family: Arial;
}

.input-section {
  display: flex;
  gap: 10px;
  justify-content: center;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  background: #f2f2f2;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
